body{
    margin:0;
    padding:0;
    background-color: #0c002b;;
}

a{
    position: absolute;
    left: 50%;
    top: 50%;
    color:#1670f0;
    transform: translate(-50%, -50%);
    text-decoration: none;
    text-transform: uppercase; /*대문자로 변환*/
    padding:30px 60px;
    letter-spacing: 2px;/*글자 사이 간격*/
    font-size:30px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);

    overflow: hidden; /*a태그 범위를 넘어가는 효과는 없앤다*/
}

a:before{
    content:'';
    position: absolute;
    top: 2px;
    left: 2px;
    bottom: 2px;
    width: 50%;
    background: rgba(255,255,255,0.05);
}

a span:nth-child(1){
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, blue, pink);
    /*line 생성*/

    animation: animate1 1s linear infinite; /* 에니메이션 */
}

@keyframes animate1 {
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(100%);
    }
}/*에니메이션 조건*/

a span:nth-child(2){
    position: absolute;
    top: 0;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to bottom, blue, pink);
    
    animation: animate2 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate2 {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(100%);
    }
}

a span:nth-child(3){
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 2px;
    background: linear-gradient(to left, blue, pink);

    animation: animate3 1s linear infinite;
}

@keyframes animate3 {
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(-100%);
    }
}

a span:nth-child(4){
    position: absolute;
    bottom: 0;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(to top, blue, pink);

    animation: animate4 1s linear infinite;
    animation-delay: 0.5s;
}

@keyframes animate4 {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(-100%);
    }
}